

<div class="container">
<div class="row" >
    <div class="col-xs-12 col-md-6 col-lg-6 text-center " id="greeting">
        <h2 class="text-center">Welcome to<br /> Big Data Analytics!</h2>
        <p>Please register an account with us in order to use our features.<br/>
            Contact our <a href="mailto:support@wasoftware.com">administrator</a> for account registration.<br/><br/>
            <!--<a class="button radius" href="user/new">Register Now!</a>-->
            <a class="btn btn-primary btn-round-lg " href="#/login">LOGIN</a>
        </p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 text-center">
        <img src="img/BigData.png" alt="BigData">
    </div>
</div>

</div>


