<div class="row-fluid">
    <div class="span3">
        <label class="medium">Data Source
            <tip>Specify the data source</tip>
        </label>
        <select class="input-medium" ng-model="panel.selectedDataSource"
                ng-options="solrCollectionDataType as solrCollectionDataType.name for solrCollectionDataType in solrCollectionDataTypes"
                ng-change='set_refresh(true)'>
        </select>
    </div>
    <div class="span3">
        <div ng-if="panel.selectedDataSource.options">
            <label class="medium">Data Type
                <tip>Specify the data type</tip>
            </label>
            <select class="input-medium" ng-model="panel.selectedDataType"
                    ng-options="o as o for o in panel.selectedDataSource.options"
                    ng-change='set_refresh(true)'>
            </select>
        </div>
    </div>
    <div class="span3">
        <label class="medium">Line Shape</label>
        <select class="input-medium" ng-model="panel.lineShape"
                ng-options="f for f in ['linear','monotone']"
                ng-change='set_refresh(true)'>
        </select>
    </div>
</div>


